setuptools==45
click
enum-compat
enum34
eventlet==0.30.2
Flask
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
opencv-contrib-python
Pillow
redis
tensorflow-cpu
six
Werkzeug
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
