setuptools==45
click
enum-compat
enum34
eventlet==0.30.2
Flask
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
pandas
Pillow
redis
tensorflow-cpu
six
Werkzeug

